{% extends 'base.html' %}
{% load static %}

{% block head %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

{% endblock %}

{% block content %}
<!-- Main Container -->
<div class="container p-3 m-0 border-0 main-container">

    <!-- Introduction -->
    <div class="row">
        <div class="col-12 col-lg-4">
            <img class="img-fluid" src="{% static '/images/index-introduction-left.jpg' %}" alt="Composite and steel gate">
        </div>
        <div class="col-12 col-lg-4 text-center">
            <h1>GATES AND RAILINGS SPECIALISTS MANCHESTER</h1>
            <p>Call or text for your FREE quotation: <b>07730 331530</b></p>
        </div>
        <div class="col-12 col-lg-4">
            <img class="img-fluid" src="{% static '/images/index-introduction-right.jpg' %}" alt="Steel gate and railings">
        </div>
    </div>

    <!-- Description -->
    <div class="row">
        <p>Welcome to 5liveweldings Ltd., the premier place for gates and railings in Manchester.</p>
        <h3>Check out some of our previous work:</h3>
    </div>

    <!-- Previous Work -->
    <div class="row justify-content-center">
        <div class="col-xl-2 col-12">
            <div class="card-group h-100">
                <div class="card">
                    <a href="#"><img src="{% static '/images/steel-gates-thumbnail.jpg' %}" class="img-fluid" alt="Steel Gates Thumbnail"></a>
                    <div class="card-body text-center">
                        <h3><a href="#" class="card-link">Steel Gates</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-12">
            <div class="card-group h-100">
                <div class="card">
                    <a href="#"><img src="{% static '/images/composite-gates-thumbnail.jpg' %}" class="img-fluid" alt="Composite Gates Thumbnail"></a>
                    <div class="card-body text-center">
                        <h3><a href="#" class="card-link">Composite Gates</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-12">
            <div class="card-group h-100">
                <div class="card">
                    <a href="#"><img src="{% static '/images/railings-thumbnail.jpg' %}" class="img-fluid" alt="Railings Thumbnail"></a>
                    <div class="card-body text-center">
                        <h3><a href="#" class="card-link">Railings</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-12">
            <div class="card-group h-100">
                <div class="card">
                    <a href="#"><img src="{% static '/images/security-thumbnail.jpg' %}" class="img-fluid" alt="Security Thumbnail"></a>
                    <div class="card-body text-center">
                        <h3><a href="#" class="card-link">Security</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-12">
            <div class="card-group h-100">
                <div class="card">
                    <a href="#"><img src="{% static '/images/steel-framed-treated-timber-infill-thumbnail.jpg' %}" class="img-fluid" alt="Steel Framed Treated Timber Infill Thumbnail"></a>
                    <div class="card-body text-center">
                        <h3><a href="#" class="card-link">Steel Framed Treated Timber Infill</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Reviews -->
    <div class="row">
        <h1>Reviews</h1>
        <div id="reviewsCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" data-interval="10000">
                    <div class="col-sm-4 col-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <h3>1</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-interval="10000">
                    <div class="col-sm-4 col-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <h3>2</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-interval="10000">
                    <div class="col-sm-4 col-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <h3>3</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-interval="10000">
                    <div class="col-sm-4 col-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <h3>4</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-interval="10000">
                    <div class="col-sm-4 col-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <h3>5</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev bg-transparent w-aut" href="#reviewsCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-aut" href="#reviewsCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>

</div>

<script>
    // Script used for review carousel
    let items = document.querySelectorAll('.carousel-item')

    items.forEach((currentItem) => {
        const minPerSlide = 3
        let nextItem = currentItem.nextElementSibling
        for (var i = 1; i < minPerSlide; i++) {
            if (!nextItem) { nextItem = items[0] }
            let cloneItem = nextItem.cloneNode(true)
            currentItem.appendChild(cloneItem.children[0])
            nextItem = nextItem.nextElementSibling
        }
    })
</script>
{% endblock %}