{% extends 'base.html' %}
{% load static %}

{% block head %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

{% endblock %}

{% block content %}
<!-- Main Container -->
<div class="container p-4 main-container">

    <!-- Introduction -->
    <div class="row justify-content-center">
        <div class="col-4 col-lg-1">
            <img class="img-fluid" src="{% static '/images/logo.png' %}" alt="Composite and steel gate">
        </div>
        <div class="col-12 col-lg-5 text-center">
            <p class="index-heading">Gates & Railings Specialists</p>
            <p style="color:rgb(189, 189, 189);">
                Welcome to 5liveweldings Ltd, the home of gates and railings in Manchester. We offer high quality, handmade custom products for reasonable prices, which  will then 
                be installed by our team of experts. Get in touch now for a free quotation!
            </p>
            <p class="subsection-text">Call or text for your FREE quotation: 07730 331530</p>
        </div>
    </div>

    <hr>

    <!-- Previous Work -->
    <div class="row justify-content-center text-center">
        <p class="subsection-text">Check out our previous work:</p>
        <div class="col-xl-2 col-md-6 col-12">
            <div class="card-group h-100">
                <div class="card">
                    <a href="{% url 'steel-gates' %}"><img src="{% static '/images/steel-gates-thumbnail.jpg' %}" class="img-fluid" alt="Steel Gates Thumbnail"></a>
                    <div class="card-body text-center">
                        <h3><a href="{% url 'steel-gates' %}" class="card-link">Steel Gates</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-6 col-12">
            <div class="card-group h-100">
                <div class="card">
                    <a href="{% url 'composite-gates' %}"><img src="{% static '/images/composite-gates-thumbnail.jpg' %}" class="img-fluid" alt="Composite Gates Thumbnail"></a>
                    <div class="card-body text-center">
                        <h3><a href="{% url 'composite-gates' %}" class="card-link">Composite Gates</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-6 col-12">
            <div class="card-group h-100">
                <div class="card">
                    <a href="{% url 'railings' %}"><img src="{% static '/images/railings-thumbnail.jpg' %}" class="img-fluid" alt="Railings Thumbnail"></a>
                    <div class="card-body text-center">
                        <h3><a href="{% url 'railings' %}" class="card-link">Railings</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-6 col-12">
            <div class="card-group h-100">
                <div class="card">
                    <a href="{% url 'security' %}"><img src="{% static '/images/security-thumbnail.jpg' %}" class="img-fluid" alt="Security Thumbnail"></a>
                    <div class="card-body text-center">
                        <h3><a href="{% url 'security' %}" class="card-link">Security</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-6 col-12">
            <div class="card-group h-100">
                <div class="card">
                    <a href="{% url 'steel-framed-treated-timber-infill' %}"><img src="{% static '/images/steel-framed-treated-timber-infill-thumbnail.jpg' %}" class="img-fluid" alt="Steel Framed Treated Timber Infill Thumbnail"></a>
                    <div class="card-body text-center">
                        <h3><a href="{% url 'steel-framed-treated-timber-infill' %}" class="card-link">Steel Framed Treated Timber Infill</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Reviews -->
    <div class="row justify-content-center text-center">
        <p class="subsection-text">Reviews</p>
        <div id="reviewsCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" data-interval="10000">
                    <div class="col-sm-4 col-12 p-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h1>★★★★★</h1>
                                <br>
                                <p>
                                    "Johnny has done two lots of work for me now - his work is fantastic, well priced and he works hard. Kept me up to date through the weeks 
                                    commencing to the work to show me how the railings are looking. On time, and keeps the worksite clean after he's done. Thoroughly recommend 👌"
                                </p>
                                <p><b>Owen Taylor - 2023</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-interval="10000">
                    <div class="col-sm-4 col-12 p-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h1>★★★★★</h1>
                                <br>
                                <p>
                                    "From quote to completion, exceptional work. Communication throughout was fantastic, we were kept updated during the fabrication right up to the 
                                    moment they knocked on the door to start works. Great business, highly recommend."
                                </p>
                                <br>
                                <p><b>Stephen Shannon - 2023</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-interval="10000">
                    <div class="col-sm-4 col-12 p-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h1>★★★★★</h1>
                                <br>
                                <p>
                                    "Johnny did an absolute amazing job, tailored the design to exactly how I wanted it. Kept me updated through out the whole process. His 
                                    attention to detail is next to none. Can't recommend him enough, will definitely be using your services again! 👍"
                                </p>
                                <br>
                                <p><b>Ashfak Ahmed - 2023</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-interval="10000">
                    <div class="col-sm-4 col-12 p-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h1>★★★★★</h1>
                                <br>
                                <p>
                                    "Absolutely flawless service! Great communication from start to finish. Johnny regularly updated me with pictures of the progress of my order 
                                    in build. The product and installation was to an excellent standard and exactly what I had asked for. Would recommend without hesitation 
                                    and will be using 5Live Weldings again in the near future!"
                                </p>
                                <p><b>Nafalie Horton - 2022</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-interval="10000">
                    <div class="col-sm-4 col-12 p-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h1>★★★★★</h1>
                                <br>
                                <p>
                                    "Beautiful gates! Fantastic company to deal with, designed and made exactly how I requested and I was kept up to date throughout the process 
                                    with pictures and messages. Even worked on Easter Sunday to fit them. Highly recommended and I will be using you again in the future."
                                </p>
                                <br>
                                <p><b>Rebecca Waters - 2022</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev bg-transparent w-aut" href="#reviewsCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-aut" href="#reviewsCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>

</div>

<script>
    // Script used for review carousel
    let items = document.querySelectorAll('.carousel-item')

    items.forEach((currentItem) => {
        const minPerSlide = 3
        let nextItem = currentItem.nextElementSibling
        for (var i = 1; i < minPerSlide; i++) {
            if (!nextItem) { nextItem = items[0] }
            let cloneItem = nextItem.cloneNode(true)
            currentItem.appendChild(cloneItem.children[0])
            nextItem = nextItem.nextElementSibling
        }
    })
</script>
{% endblock %}